html, body {
  margin: 0;
  padding: 0;
}

#map {
  height: 100vh;
}

.filters {
  position: absolute;
  top: 10px;
  left: 10px;
  background: white;
  padding: 10px;
  z-index: 1000;
  max-height: 90vh;
  overflow-y: auto;
  border-radius: 8px;
  font-size: 14px;
}

.leaflet-popup-content img {
  width: 100%;
  margin-top: 5px;
}
